<!--
	Templates For The wec_staffdirectory extension:

		###TEMPLATE_STAFF_LIST	 -- the main staff directory
		###TEMPLATE_STAFF_SINGLE -- the personal staff page
		###TEMPLATE_EDITFORM 	 -- the form for editting staff page/info
-->

<!--
=====================================================================================================
###TEMPLATE_STAFF_LIST### begin
=====================================================================================================
-->
<div class="tx-wecstaffdirectory-content">
	<!-- ###SHOW_HEADER### begin-->
	<div class="tx-wecstaffdirectory-header">
		<span class="tx-wecstaffdirectory-title">###TITLE###</span>
		<span class="tx-wecstaffdirectory-errorText">###FORM_ERROR_TEXT###</span>
	 	<span class="tx-wecstaffdirectory-responseMsg">###RESPONSE_TEXT###</span>
	</div>
	<!-- ###SHOW_HEADER### end-->

	<div class="tx-wecstaffdirectory-fullWidth">
		###SORT_MENU###		<!-- ###DEPARTMENT_DROPDOWN_MENU### -->
		<form name="searchForm" action="###ACTION_URL###" method="post">
			###SEARCH### ###SEARCH_FULLTEXT### ###SEARCH_BUTTON###
		</form>
		<!-- ###SHOW_LISTING_HEADER### begin -->
		<div class="tx-wecstaffdirectory-stafflist tx-wecstaffdirectory-fullWidth tx-wecstaffdirectory-listheader" >
			<!-- ###SHOW_PHOTO_MAIN### begin --><span class="float-med">###PHOTO_SMALL_TEXT###</span> <!-- ###SHOW_PHOTO_MAIN### end -->
			<!-- ###SHOW_NAME### begin --> 	 	<span class="float-lg isBold">###NAME_TEXT###</span><!-- ###SHOW_NAME### end -->
			<!-- ###SHOW_DEPARTMENT### begin --><span class="float-med">###DEPARTMENT_TEXT###</span> <!-- ###SHOW_DEPARTMENT### end -->
			<!-- ###SHOW_POSITION_TITLE### begin --> <span class="float-xlg">###POSITION_TITLE_TEXT###</span>	<!-- ###SHOW_POSITION_TITLE### end -->
			<!-- ###SHOW_TELEPHONE### begin --> <span class="float-med">###TELEPHONE_TEXT###</span><!-- ###SHOW_TELEPHONE### end -->
			<!-- ###SHOW_CELLPHONE### begin --> <span class="float-med">###CELLPHONE_TEXT###</span><!-- ###SHOW_CELLPHONE### end -->
			<!-- ###SHOW_FAX### begin -->  		<span class="float-med">###FAX_TEXT###</span><!-- ###SHOW_FAX### end -->
			<!-- ###SHOW_MISC### begin --> 		<span class="float-sm">###MISC_TEXT###</span> <!-- ###SHOW_MISC### end -->
			<!-- ###SHOW_EMAIL### begin --> 	<span class="float-xsm">###EMAIL_TEXT###</span> <!-- ###SHOW_EMAIL### end -->
			<!-- ###SHOW_SOCIAL_CONTACT1### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT1_TEXT###</span> <!-- ###SHOW_SOCIAL_CONTACT1### end -->
			<!-- ###SHOW_SOCIAL_CONTACT2### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT2_TEXT###</span> <!-- ###SHOW_SOCIAL_CONTACT2### end -->
			<!-- ###SHOW_SOCIAL_CONTACT3### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT3_TEXT###</span> <!-- ###SHOW_SOCIAL_CONTACT3### end -->
			<!-- ###SHOW_START_DATE### begin --> 	<span class="float-med">###START_DATE_TEXT###</span> <!-- ###SHOW_START_DATE### end -->
			<div class="tx-wecstaffdirectory-spacer"> </div>
		</div>
		<!-- ###SHOW_LISTING_HEADER### end -->

		###STAFF_LISTING_CONTENT###
				
		<div class="tx-wecstaffdirectory-fullWidthCentered">###SHOW_ADD_BTN###</div>
		
		<!--###DEPARTMENT_HEADER### begin
			Template used for each department line in listing
		-->
		<div class="deptHeader">
			<span class="title">###DEPARTMENT_IMAGE### ###DEPARTMENT_TITLE###</span>
			<span class="description">###DEPARTMENT_DESCRIPTION###</span>
		</div>
		<!--###DEPARTMENT_HEADER### end -->
		
		<!--###STAFF_LIST_LINE### begin
			Template for single staff listing in list that is line-by-line
		-->
		<div class="tx-wecstaffdirectory-stafflist tx-wecstaffdirectory-fullWidth ###ALT_LISTCOLOR###" >
			<!-- ###SHOW_PHOTO_MAIN### begin --><span class="float-med">###PHOTO_SMALL_LINK###</span> <!-- ###SHOW_PHOTO_MAIN### end -->
			<!-- ###SHOW_NAME### begin --> 	 	<span class="float-lg isBold">###NAME_LINK###</span><!-- ###SHOW_NAME### end -->
			<!-- ###SHOW_DEPARTMENT### begin --><span class="float-med">###DEPARTMENT###</span> <!-- ###SHOW_DEPARTMENT### end -->
			<!-- ###SHOW_POSITION_TITLE### begin --> <span class="float-xlg">###POSITION_TITLE###</span>	<!-- ###SHOW_POSITION_TITLE### end -->
			<!-- ###SHOW_TELEPHONE### begin --> <span class="float-med">###TELEPHONE###</span><!-- ###SHOW_TELEPHONE### end -->
			<!-- ###SHOW_CELLPHONE### begin --> <span class="float-med">###CELLPHONE### ###CELLPHONE_NOTIFY_LABEL###</span><!-- ###SHOW_CELLPHONE### end -->
			<!-- ###SHOW_FAX### begin -->  		<span class="float-med">###FAX### ###FAX_NOTIFY_LABEL###</span><!-- ###SHOW_FAX### end -->
			<!-- ###SHOW_MISC### begin --> 		<span class="float-sm">###MISC###</span> <!-- ###SHOW_MISC### end -->
			<!-- ###SHOW_EMAIL### begin --> 	<span class="float-xsm">###EMAIL_ICON###</span> <!-- ###SHOW_EMAIL### end -->
			<!-- ###SHOW_SOCIAL_CONTACT1### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT1_ICON###</span> <!-- ###SHOW_SOCIAL_CONTACT1### end -->
			<!-- ###SHOW_SOCIAL_CONTACT2### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT2_ICON###</span> <!-- ###SHOW_SOCIAL_CONTACT2### end -->
			<!-- ###SHOW_SOCIAL_CONTACT3### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT3_ICON###</span> <!-- ###SHOW_SOCIAL_CONTACT3### end -->
			<!-- ###SHOW_START_DATE### begin --> 	<span class="float-med">###START_DATE###</span> <!-- ###SHOW_START_DATE### end -->
			<span  class="float-xsm">###SHOW_EDIT_BTN### ###SHOW_DELETE_BTN###</span>
			<div class="tx-wecstaffdirectory-spacer"> </div>
		</div>
		<!-- ###STAFF_LIST_LINE### end -->

		<!--###STAFF_LIST_COLUMN### begins
			Template for single staff listing in list by column
		-->
		<div class="tx-wecstaffdirectory-stafflist tx-wecstaffdirectory-stafflist-column ###ALT_LISTCOLOR###">
			<div class="leftColumn">
				<!-- ###SHOW_PHOTO_MAIN### begin --> ###PHOTO_SMALL_LINK### <!-- ###SHOW_PHOTO_MAIN### end -->
			</div>
			<div class="rightColumn">
				<!-- ###SHOW_NAME### begin --> 	 	<div class="fullwidth medText isBold">###NAME_LINK###</div><!-- ###SHOW_NAME### end -->
				<!-- ###SHOW_DEPARTMENT### begin --> <div class="fullwidth medText">###DEPARTMENT###</div> <!-- ###SHOW_DEPARTMENT### end -->
				<!-- ###SHOW_POSITION_TITLE### begin --> <div class="fullwidth medText">###POSITION_TITLE###</div>	<!-- ###SHOW_POSITION_TITLE### end -->
				<!-- ###SHOW_TELEPHONE### begin --> <div class="fullwidth smText">###TELEPHONE###</div><!-- ###SHOW_TELEPHONE### end -->
				<!-- ###SHOW_CELLPHONE### begin --> <div class="fullwidth smText">###CELLPHONE### ###CELLPHONE_NOTIFY_LABEL###</div><!-- ###SHOW_CELLPHONE### end -->
				<!-- ###SHOW_FAX### begin --> 		<div class="fullwidth smText">###FAX### ###FAX_NOTIFY_LABEL###</div><!-- ###SHOW_FAX### end -->
				<!-- ###SHOW_EMAIL### begin --> 	<div class="fullwidth">###EMAIL_ICON###</div> <!-- ###SHOW_EMAIL### end -->
				<!-- ###SHOW_SOCIAL_CONTACT1### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT1_ICON###</span> <!-- ###SHOW_SOCIAL_CONTACT1### end -->
				<!-- ###SHOW_SOCIAL_CONTACT2### begin --> 	<span class="float-xsm">###SOCIAL_CONTACT2_ICON###</span> <!-- ###SHOW_SOCIAL_CONTACT2### end -->
				<!-- ###SHOW_START_DATE### begin --> 	<div class="fullwidth smText">###START_DATE###</div> <!-- ###SHOW_START_DATE### end -->
				<span>###SHOW_EDIT_BTN### ###SHOW_DELETE_BTN###</span>
			</div>
		</div>
		<!-- ###STAFF_LIST_COLUMN### end -->

		<!--###STAFF_LIST_BRIEF### begin
			Template for a single staff listing that is shortened
		-->
		<div class="tx-wecstaffdirectory-stafflist ###ALT_LISTCOLOR###">
			<!-- ###SHOW_NAME### begin --> 	 	<div class="float-lg medText isBold">###NAME_LINK###</div><!-- ###SHOW_NAME### end -->
			<!-- ###SHOW_POSITION_TITLE### begin --> <div class="float-xxlg smText">###POSITION_TITLE###</div>	<!-- ###SHOW_POSITION_TITLE### end -->
			<!-- ###SHOW_DEPARTMENT### begin --> <div class="float-lg smText">###DEPARTMENT###</div> <!-- ###SHOW_DEPARTMENT### end -->
			<!-- ###SHOW_TELEPHONE### begin --> <div class="float-med smText">###TELEPHONE###&nbsp;</div><!-- ###SHOW_TELEPHONE### end -->
			<!-- ###SHOW_CELLPHONE### begin --> <div class="float-med smText">###CELLPHONE### ###CELLPHONE_NOTIFY_LABEL###</div><!-- ###SHOW_CELLPHONE### end -->
			<!-- ###SHOW_EMAIL### begin --> 	<div class="float-sm smText">###EMAIL_ICON###</div> <!-- ###SHOW_EMAIL### end -->
			<span class="float-xsm">###SHOW_EDIT_BTN###  ###SHOW_DELETE_BTN###</span>
			<div class="tx-wecstaffdirectory-spacer"> </div>
		</div>
		<!-- ###STAFF_LIST_BRIEF### end -->

		<!--###STAFF_LIST_VERBOSE### begin
			Template for a single staff listing that has verbose info
		-->
		<div class="tx-wecstaffdirectory-stafflist ###ALT_LISTCOLOR###">
			<!-- ###SHOW_PHOTO_MAIN### begin -->
			<div class="float-photo">
				 ###PHOTO_SMALL_LINK###
				###SHOW_EDIT_BTN###  ###SHOW_DELETE_BTN###
			</div>
			<!--- ###SHOW_PHOTO_MAIN### end -->
			<!-- ###SHOW_NAME### begin --> 	 	<div class="fullwidth xlgText isBold">###NAME_LINK###</div><!-- ###SHOW_NAME### end -->
			<!-- ###SHOW_POSITION_TITLE### begin --> <div class="fullwidth lgText">###POSITION_TITLE###</div>	<!-- ###SHOW_POSITION_TITLE### end -->
			<!-- ###SHOW_POSITION_DESCRIPTION### begin --> <div class="fullwidth medText">###POSITION_DESCRIPTION###</div>	<!-- ###SHOW_POSITION_DESCRIPTION### end -->
			<!-- ###SHOW_DEPARTMENT### begin --> <div class="fullwidth medText">###DEPARTMENT###</div>	<!-- ###SHOW_DEPARTMENT### end -->
			<!-- ###SHOW_TEAM### begin --> <div class="fullwidth medText">###TEAM###</div>	<!-- ###SHOW_TEAM### end -->
			<!-- ###SHOW_TELEPHONE### begin --> <div class="fullwidth medText">###TELEPHONE###&nbsp;</div><!-- ###SHOW_TELEPHONE### end -->
			<!-- ###SHOW_CELLPHONE### begin --> <div class="fullwidth medText">###CELLPHONE### ###CELLPHONE_NOTIFY_LABEL###</div><!-- ###SHOW_CELLPHONE### end -->
			<!-- ###SHOW_FAX### begin --> <div class="fullwidth medText">###FAX### ###FAX_NOTIFY_LABEL###</div><!-- ###SHOW_FAX### end -->
			<!-- ###SHOW_MISC### begin --> <div class="fullwidth medText">###MISC###</div><!-- ###SHOW_MISC### end -->
			<!-- ###SHOW_EMAIL### begin --> 	<div class="fullwidth medText">###EMAIL_LINK### </div> <!-- ###SHOW_EMAIL### end -->
			<!-- ###SHOW_SOCIAL_CONTACT1### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT1_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT1### end -->
			<!-- ###SHOW_SOCIAL_CONTACT2### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT2_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT2### end -->
			<!-- ###SHOW_SOCIAL_CONTACT3### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT3_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT3### end -->
			<!-- ###SHOW_START_DATE### begin --> 	<div class="fullwidth medText">###START_DATE###</div> <!-- ###SHOW_START_DATE### end -->
			<!-- ###SHOW_ADDRESS### begin --><div class="fullwidth medText">###ADDRESS_LABEL### ###ADDRESS###<br />###CITY###, ###ZONE### ###ZIP###</div><!-- ###SHOW_ADDRESS### end -->
			<!-- ###SHOW_BIOGRAPHY### begin --> <div class="fullwidth smText">###BIO_SHORT### ###BIO_SHORT_MORE###</div>	<!-- ###SHOW_BIOGRAPHY### end -->
			<!-- ###SHOW_NEWS### begin --> 		<div class="fullwidth smText">###NEWS_SHORT### ###NEWS_SHORT_MORE###</div>	<!-- ###SHOW_NEWS### end -->  
			<div class="tx-wecstaffdirectory-spacer"> </div>
		</div>
		<!-- ###STAFF_LIST_VERBOSE### end -->

		<!--
		=====================================================================================================
		###STAFF_LIST_CUSTOM### begin
			Template for a single staff listing that can be customized
		=====================================================================================================
		-->
		<div class="tx-wecstaffdirectory-stafflist ###ALT_LISTCOLOR###">
			<!-- ###SHOW_PHOTO_MAIN### begin --> ###PHOTO_SMALL_LINK### ###SHOW_EDIT_BTN###  ###SHOW_DELETE_BTN###<!--- ###SHOW_PHOTO_MAIN### end -->
			<!-- ###SHOW_NAME### begin --> 	 	<div class="fullwidth lgText isBold">###NAME_LINK###</div><!-- ###SHOW_NAME### end -->
			<!-- ###SHOW_POSITION_TITLE### begin --> <div class="fullwidth lgText">###POSITION_TITLE###</div>	<!-- ###SHOW_POSITION_TITLE### end -->
			<!-- ###SHOW_POSITION_DESCRIPTION### begin --> <div class="fullwidth medText">###POSITION_DESCRIPTION###</div>	<!-- ###SHOW_POSITION_DESCRIPTION### end -->
			<!-- ###SHOW_TELEPHONE### begin --> <div class="fullwidth medText">###TELEPHONE###&nbsp;</div><!-- ###SHOW_TELEPHONE### end -->
			<!-- ###SHOW_CELLPHONE### begin --> <div  class="fullwidth medText">###CELLPHONE### ###CELLPHONE_NOTIFY_LABEL###</div><!-- ###SHOW_CELLPHONE### end -->
			<!-- ###SHOW_FAX### begin --> 		<div  class="fullwidth medText">###FAX### ###FAX_NOTIFY_LABEL###</div><!-- ###SHOW_FAX### end -->
			<!-- ###SHOW_MISC### begin --> 		<div  class="fullwidth medText">###MISC###</div><!-- ###SHOW_MISC### end -->
			<!-- ###SHOW_EMAIL### begin --> 	<div  class="fullwidth medText">###EMAIL_LINK### </div> <!-- ###SHOW_EMAIL### end -->
			<!-- ###SHOW_SOCIAL_CONTACT1### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT1_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT1### end -->
			<!-- ###SHOW_SOCIAL_CONTACT2### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT2_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT2### end -->
			<!-- ###SHOW_SOCIAL_CONTACT3### begin --> 	<div class="fullwidth medText">###SOCIAL_CONTACT3_LINK### </div> <!-- ###SHOW_SOCIAL_CONTACT3### end -->
			<!-- ###SHOW_BIOGRAPHY### begin --> <div  class="fullwidth smText">###BIO_SHORT### ###BIO_SHORT_MORE###</div>	<!-- ###SHOW_BIOGRAPHY### end -->
			<!-- ###SHOW_NEWS### begin --> 		<div  class="fullwidth smText">###NEWS_SHORT### ###NEWS_SHORT_MORE###</div>	<!-- ###SHOW_NEWS### end -->
			<div class="tx-wecstaffdirectory-spacer"> </div>
		</div>
		<!-- ###STAFF_LIST_CUSTOM### end -->
	</div>
	<div class="tx-wecstaffdirectory-fullWidthCentered">
		###PAGING_PREV###
		###PAGING_NEXT###
	</div>
</div>
<div class="tx-wecstaffdirectory-spacer">&nbsp;</div>
<!-- ###TEMPLATE_STAFF_LIST### end -->

<!--
=====================================================================================================
###TEMPLATE_STAFF_SINGLE### begin
=====================================================================================================
-->
<div class="tx-wecstaffdirectory-content">
 <div class="tx-wecstaffdirectory-responseMsg">###RESPONSE_TEXT###</div>
 <div class="tx-wecstaffdirectory-staffpage">
	<div class="photo">
		<!-- ###SHOW_PHOTO_MAIN### begin-->
			###PHOTO###
		<!-- ###SHOW_PHOTO_MAIN### end-->
		<center>###SHOW_EDIT_BTN###  ###SHOW_DELETE_BTN###</center>
	</div>
	<div class="topmenu">
		<div>###STAFF_DROPDOWN_MENU###</div>
		<div class="sep">###BACK_TO_STAFFLIST_BTN###</div>
	</div>
	<div class="maincontent">
		<!-- ###SHOW_NAME### begin --><div class="tx-wecstaffdirectory-fieldHeaderLarge">###NAME###</div><!-- ###SHOW_NAME### end -->

		<!-- ###SHOW_JOB_INFO_HEADER### begin--><div class="tx-wecstaffdirectory-fieldHeader">###JOB_INFO_HEADER###</div><!-- ###SHOW_JOB_INFO_HEADER### end-->
		<!-- ###SHOW_DEPARTMENT### begin --><div class="tx-wecstaffdirectory-fieldLabel">###DEPARTMENT_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###DEPARTMENT_LIST###</div><!-- ###SHOW_DEPARTMENT### end -->
		<!-- ###SHOW_POSITION_TITLE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###POSITION_TITLE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###POSITION_TITLE###</div><!-- ###SHOW_POSITION_TITLE### end -->
		<!-- ###SHOW_POSITION_DESCRIPTION### begin --><div class="tx-wecstaffdirectory-fieldLabel">###POSITION_DESCRIPTION_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###POSITION_DESCRIPTION###</div><!-- ###SHOW_POSITION_DESCRIPTION### end -->
		<!-- ###SHOW_START_DATE### begin --> 	<div class="tx-wecstaffdirectory-fieldLabel">###START_DATE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###START_DATE###</div> <!-- ###SHOW_START_DATE### end -->

		<!-- ###SHOW_CONTACT_INFO_HEADER### begin--><div class="tx-wecstaffdirectory-fieldHeader">###CONTACT_INFO_HEADER###</div><!-- ###SHOW_CONTACT_INFO_HEADER### end-->
		<!-- ###SHOW_ADDRESS### begin --><div class="tx-wecstaffdirectory-fieldLabel">###ADDRESS_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###ADDRESS###<br />###CITY###, ###ZONE### ###ZIP###</div><!-- ###SHOW_ADDRESS### end -->
		<!-- ###SHOW_COUNTRY### begin --><div class="tx-wecstaffdirectory-fieldLabel">###COUNTRY_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###COUNTRY###</div><!-- ###SHOW_COUNTRY### end -->
		<!-- ###SHOW_TELEPHONE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###TELEPHONE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###TELEPHONE###</div><!-- ###SHOW_TELEPHONE### end -->
		<!-- ###SHOW_CELLPHONE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###CELLPHONE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###CELLPHONE###</div><!-- ###SHOW_CELLPHONE### end -->
		<!-- ###SHOW_FAX### begin --><div class="tx-wecstaffdirectory-fieldLabel">###FAX_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###FAX###</div><!-- ###SHOW_FAX### end -->
		<!-- ###SHOW_EMAIL### begin --><div class="tx-wecstaffdirectory-fieldLabel">###EMAIL_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###EMAIL_LINK###</div><!-- ###SHOW_EMAIL### end -->
		<!-- ###SHOW_SOCIAL_CONTACT1### begin --><div class="tx-wecstaffdirectory-fieldLabel">###SOCIAL_CONTACT1_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###SOCIAL_CONTACT1_LINK###</div><!-- ###SHOW_SOCIAL_CONTACT1### end -->
		<!-- ###SHOW_SOCIAL_CONTACT2### begin --><div class="tx-wecstaffdirectory-fieldLabel">###SOCIAL_CONTACT2_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###SOCIAL_CONTACT2_LINK###</div><!-- ###SHOW_SOCIAL_CONTACT2### end -->
		<!-- ###SHOW_SOCIAL_CONTACT3### begin --><div class="tx-wecstaffdirectory-fieldLabel">###SOCIAL_CONTACT3_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###SOCIAL_CONTACT3_LINK###</div><!-- ###SHOW_SOCIAL_CONTACT3### end -->
	</div>
	<div class="fullwidth">
		<!-- ###SHOW_BIOGRAPHY### begin-->
			<div class="tx-wecstaffdirectory-fieldHeader">###BIOGRAPHY_HEADER###</div>
			<div class="tx-wecstaffdirectory-fieldDescriptionLarge">###BIOGRAPHY###</div>
		<!-- ###SHOW_BIOGRAPHY### end-->
		<!-- ###SHOW_NEWS### begin-->
			<div class="tx-wecstaffdirectory-fieldHeader">###NEWS_HEADER###</div>
			<div class="tx-wecstaffdirectory-fieldDescriptionLarge">###NEWS###</div>
		<!-- ###SHOW_NEWS### end-->
	</div>
	<div class="fullwidth">
		<!-- ###SHOW_PHOTOS_ETC### begin-->
		<span>###PHOTO1###</span>
		<span>###PHOTO2###</span>
		<span>###PHOTO3###</span>
		<span>###PHOTO4###</span>
		<!-- ###SHOW_PHOTOS_ETC### end-->
	</div>
	<div class="fullwidth">
		<!--- ###SHOW_MAP### begin -->
		###MAP###
		<!-- ###SHOW_MAP### end -->
	</div>
 </div>
</div>
<div class="tx-wecstaffdirectory-spacer">&nbsp;</div>
<!-- ###TEMPLATE_STAFF_SINGLE### end -->

<!--
=====================================================================================================
###TEMPLATE_STAFF_RANDOM### begin
=====================================================================================================
-->
<div class="tx-wecstaffdirectory-content">
 <div class="tx-wecstaffdirectory-staffpage">
	<div class="photo">
		<!-- ###SHOW_PHOTO_MAIN### begin-->
			###PHOTO###
		<!-- ###SHOW_PHOTO_MAIN### end-->
		<center>###SHOW_EDIT_BTN###  ###SHOW_DELETE_BTN###</center>
	</div>
	<div class="maincontent">
		<!-- ###SHOW_NAME### begin --><div class="tx-wecstaffdirectory-fieldHeaderLarge">###NAME###</div><!-- ###SHOW_NAME### end -->

		<!-- ###SHOW_JOB_INFO_HEADER### begin--><div class="tx-wecstaffdirectory-fieldHeader">###JOB_INFO_HEADER###</div><!-- ###SHOW_JOB_INFO_HEADER### end-->
		<!-- ###SHOW_DEPARTMENT### begin --><div class="tx-wecstaffdirectory-fieldLabel">###DEPARTMENT_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###DEPARTMENT###</div><!-- ###SHOW_DEPARTMENT### end -->
		<!-- ###SHOW_POSITION_TITLE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###POSITION_TITLE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###POSITION_TITLE###</div><!-- ###SHOW_POSITION_TITLE### end -->
		<!-- ###SHOW_POSITION_DESCRIPTION### begin --><div class="tx-wecstaffdirectory-fieldLabel">###POSITION_DESCRIPTION_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###POSITION_DESCRIPTION###</div><!-- ###SHOW_POSITION_DESCRIPTION### end -->

		<!-- ###SHOW_CONTACT_INFO_HEADER### begin--><div class="tx-wecstaffdirectory-fieldHeader">###CONTACT_INFO_HEADER###</div><!-- ###SHOW_CONTACT_INFO_HEADER### end-->
		<!-- ###SHOW_ADDRESS### begin --><div class="tx-wecstaffdirectory-fieldLabel">###ADDRESS_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###ADDRESS###<br />###CITY###, ###ZONE### ###ZIP###</div><!-- ###SHOW_ADDRESS### end -->
		<!-- ###SHOW_COUNTRY### begin --><div class="tx-wecstaffdirectory-fieldLabel">###COUNTRY_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###COUNTRY###</div><!-- ###SHOW_COUNTRY### end -->
		<!-- ###SHOW_TELEPHONE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###TELEPHONE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###TELEPHONE###</div><!-- ###SHOW_TELEPHONE### end -->
		<!-- ###SHOW_CELLPHONE### begin --><div class="tx-wecstaffdirectory-fieldLabel">###CELLPHONE_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription">###CELLPHONE###</div><!-- ###SHOW_CELLPHONE### end -->
		<!-- ###SHOW_FAX### begin --><div class="tx-wecstaffdirectory-fieldLabel">###FAX_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###FAX###</div><!-- ###SHOW_FAX### end -->
		<!-- ###SHOW_EMAIL### begin --><div class="tx-wecstaffdirectory-fieldLabel">###EMAIL_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###EMAIL_LINK###</div><!-- ###SHOW_EMAIL### end -->
		<!-- ###SHOW_SOCIAL_CONTACT1### begin --><div class="tx-wecstaffdirectory-fieldLabel">###SOCIAL_CONTACT1_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###SOCIAL_CONTACT1_LINK###</div><!-- ###SHOW_SOCIAL_CONTACT1### end -->
		<!-- ###SHOW_SOCIAL_CONTACT2### begin --><div class="tx-wecstaffdirectory-fieldLabel">###SOCIAL_CONTACT2_LABEL###</div><div class="tx-wecstaffdirectory-fieldDescription"> ###SOCIAL_CONTACT2_LINK###</div><!-- ###SHOW_SOCIAL_CONTACT2### end -->

		<!-- ###SHOW_BIOGRAPHY### begin-->
			<div class="tx-wecstaffdirectory-fieldHeader">###BIOGRAPHY_HEADER###</div>
			<div class="tx-wecstaffdirectory-fieldDescriptionLarge">###BIOGRAPHY###</div>
		<!-- ###SHOW_BIOGRAPHY### end-->
		<!-- ###SHOW_NEWS### begin-->
			<div class="tx-wecstaffdirectory-fieldHeader">###NEWS_HEADER###</div>
			<div class="tx-wecstaffdirectory-fieldDescriptionLarge">###NEWS###</div>
		<!-- ###SHOW_NEWS### end-->
	</div>
 </div>
</div>
<div class="tx-wecstaffdirectory-spacer">&nbsp;</div>
<!-- ###TEMPLATE_STAFF_RANDOM### end -->


<!--
=====================================================================================================
###TEMPLATE_EDITFORM### begin
=====================================================================================================
-->
<div class="tx-wecstaffdirectory-fullWidth">
	<!-- ###SHOW_ERROR### begin--><div class="tx-wecstaffdirectory-errorText">###FORM_ERROR_TEXT###</div><!-- ###SHOW_ERROR### end-->
	<div class="tx-wecstaffdirectory-form">
	  <form name="editForm" action="###ACTION_URL###" method="post"  enctype="multipart/form-data">
		<div class="header">
			###FORMTITLE###: ###VALUE_NAME###
		</div>
	  	###HIDDEN_VARS###
	  	<!-- ###SHOW_NAME### begin -->
	    <div class="inputFormRow">
		    <span class="label">###NAME_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[name]" type="text" value="###VALUE_NAME###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_NAME### end -->
	  	<!-- ###SHOW_FEUSER### begin -->
	    <div class="inputFormRow">
		    <span class="label">###FEUSER_LABEL###</span><span class="inputBox">###FEUSER_SELECT###</span>
		</div>
		<!-- ###SHOW_FEUSER### end -->
		<!-- ###SHOW_POSITION_TITLE### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###POSITION_TITLE_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[position_title]" type="text" value="###VALUE_POSITION_TITLE###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_POSITION_TITLE### end -->
		<!-- ###SHOW_POSITION_DESCRIPTION### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###POSITION_DESCRIPTION_LABEL###</span><span class="inputBox"><textarea name="tx_wecstaffdirectory_pi1[position_description]" type="text" cols="40" rows="3" wrap="VIRTUAL" class="high">###VALUE_POSITION_DESCRIPTION###</textarea></span>
		</div>
		<!-- ###SHOW_POSITION_DESCRIPTION### end -->

		<!-- ###SHOW_DEPARTMENT### begin -->
		<div class="inputFormRow">
		   	<span class="label">###DEPARTMENT_LABEL###</span>
			<span class="inputBox">###DEPARTMENT_INPUT###</span>
		</div>
		<!-- ###SHOW_DEPARTMENT### end -->

		<!-- ###SHOW_TEAM### begin -->
		<div class="inputFormRow">
		   	<span class="label">###TEAM_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[team]" type="text" value="###VALUE_TEAM###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_TEAM### end -->
				
		<!-- ###SHOW_EMAIL### begin -->
	    <div class="inputFormRow">
			<span class="label">###EMAIL_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[email]" type="text" value="###VALUE_EMAIL###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_EMAIL### end -->

		<!-- ###SHOW_SOCIAL_CONTACT1### begin -->
	    <div class="inputFormRow">
			<span class="label">###SOCIAL_CONTACT1_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[social_contact1]" type="text" value="###VALUE_SOCIAL_CONTACT1###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_SOCIAL_CONTACT1### end -->
		<!-- ###SHOW_SOCIAL_CONTACT2### begin -->
	    <div class="inputFormRow">
			<span class="label">###SOCIAL_CONTACT2_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[social_contact2]" type="text" value="###VALUE_SOCIAL_CONTACT2###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_SOCIAL_CONTACT2### end -->
		<!-- ###SHOW_SOCIAL_CONTACT3### begin -->
	    <div class="inputFormRow">
			<span class="label">###SOCIAL_CONTACT3_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[social_contact3]" type="text" value="###VALUE_SOCIAL_CONTACT3###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_SOCIAL_CONTACT3### end -->
						
		<!-- ###SHOW_TELEPHONE### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###TELEPHONE_LABEL###</span><span class="inputBox"><input name="tx_wecstaffdirectory_pi1[telephone]" type="text" value="###VALUE_TELEPHONE###" size="20" maxlength="40"></span>
		</div>
		<!-- ###SHOW_TELEPHONE### end -->

		<!-- ###SHOW_CELLPHONE### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###CELLPHONE_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[cellphone]" size="45" value="###VALUE_CELLPHONE###"></span>
		</div>
		<!-- ###SHOW_CELLPHONE### end -->
		<!-- ###SHOW_FAX### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###FAX_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[fax]" size="45" value="###VALUE_FAX###"></span>
		</div>
		<!-- ###SHOW_FAX### end -->

		<!-- ###SHOW_ADDRESS### begin -->
		<div class="inputFormRow">
		   	<span class="label">###ADDRESS_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[address]" size="45" value="###VALUE_ADDRESS###"></span>
		</div>
		<div class="inputFormRow">
		   	<span class="label">###ADDRESS2_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[address2]" size="45" value="###VALUE_ADDRESS2###"></span>
		</div>
		<div class="inputFormRow">
		   	<span class="label">###CITY_LABEL###</span>
			<span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[city]" size="10" value="###VALUE_CITY###" class="inputMedium"></span>
		</div>
		<div class="inputFormRow">			
			<span class="label">###ZONE_LABEL###</span>
		   	<span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[zone]" size="10" value="###VALUE_ZONE###" class="inputShort"></span>
		</div>		
		<div class="inputFormRow">
			<span class="label">###ZIP_LABEL###</span>
		   	<span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[zip]" size="10" value="###VALUE_ZIP###" class="inputShort"></span>
		</div>
		<!-- ###SHOW_ADDRESS### end -->
						
		<!-- ###SHOW_COUNTRY### begin -->
		<div class="inputFormRow">
		   	<span class="label">###COUNTRY_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[country]" size="45" value="###VALUE_COUNTRY###"></span>
		</div>
		<!-- ###SHOW_COUNTRY### end -->
		
		<!-- ###SHOW_BIOGRAPHY### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###BIOGRAPHY_LABEL###</span><span class="inputBox"><textarea name="tx_wecstaffdirectory_pi1[biography]" cols="40" rows="8" wrap="VIRTUAL">###VALUE_BIOGRAPHY###</textarea></span>
		</div>
		<!-- ###SHOW_BIOGRAPHY### end -->
		<!-- ###SHOW_NEWS### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###NEWS_LABEL###</span><span class="inputBox"><textarea name="tx_wecstaffdirectory_pi1[news]" cols="40" rows="6" wrap="VIRTUAL">###VALUE_NEWS###</textarea></span>
		</div>
		<!-- ###SHOW_NEWS### end -->

		<!-- ###SHOW_MISC### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###MISC_LABEL###</span><span class="inputBox"><input type="text" name="tx_wecstaffdirectory_pi1[misc]" size="45" value="###VALUE_MISC###"></span>
		</div>
		<!-- ###SHOW_MISC### end -->

		<!-- ###SHOW_PHOTO_MAIN### begin -->
		<script type="text/javascript">
		<!--
			function clearImage(cID,imgID) {
				if (itm = document.getElementById(cID))
				    itm.value = '';
				imgEl = document.getElementById(imgID);
				imgEl.src = '';
				imgEl.height = 0;
				imgEl.width = 0;
			}
		-->
		</script>
	    <div class="inputFormRow">
	    	<span class="label">###PHOTO_MAIN_LABEL###</span>
	        <span class="inputBox">
				<input type="file" name="tx_wecstaffdirectory_pi1[photo_main]" size="40" value="###VALUE_PHOTO_MAIN###">
		    </span>
	    	<span class="textacross">###PHOTO_MAIN_IMAGE###  <input type="button" class="button" title="Clear image" value="Clear Image" onclick="clearImage('photo_main_save','photo_main');"></span>
		</div>
		<!-- ###SHOW_PHOTO_MAIN### end -->
		<!-- ###SHOW_PHOTOS_ETC### begin -->
	    <div class="inputFormRow">
	    	<span class="label">###PHOTOS_ETC1_LABEL###</span><span class="inputBox"><input type="file" name="tx_wecstaffdirectory_pi1[photos_etc][]" size="40" value="###VALUE_PHOTOS_ETC1###"></span>
	    	<span class="textacross">###PHOTOS_ETC_IMAGE1### ###PHOTOS_ETC_CLEAR_BTN1###</span>
	    	<span class="label">###PHOTOS_ETC2_LABEL###</span><span class="inputBox"><input type="file" name="tx_wecstaffdirectory_pi1[photos_etc][]" size="40" value="###VALUE_PHOTOS_ETC2###"></span>
	    	<span class="textacross">###PHOTOS_ETC_IMAGE2###  ###PHOTOS_ETC_CLEAR_BTN2###</span>
	    	<span class="label">###PHOTOS_ETC3_LABEL###</span><span class="inputBox"><input type="file" name="tx_wecstaffdirectory_pi1[photos_etc][]" size="40" value="###VALUE_PHOTOS_ETC3###"></span>
	    	<span class="textacross">###PHOTOS_ETC_IMAGE3### ###PHOTOS_ETC_CLEAR_BTN3###</span>
		</div>
		<!-- ###SHOW_PHOTOS_ETC### end -->

	    <div class="inputFormRow">
    		<span class="bottomrow">
    			###SAVE_BUTTON###
    			###CANCEL_BUTTON###
    		</span>
		</div>
		<div class="tx-wecstaffdirectory-spacer">&nbsp;</div>
	 </form>
  </div>
</div>
<!-- ###TEMPLATE_EDITFORM### end -->